p {

	font-family: "Arial";

}

.header-container {

	height: 2.2em;
	position: relative;
	background-color: #696969;
	
}

#home {

	position: absolute;
	left: 20pt;
	width: 40pt;
	height: 2.2em;
	transition-duration: .5s;
}


#home p {

	font-weight: bold;
	position: absolute;
	color: white;
	left: 3pt;
	top: -5pt;
}


#home:hover {

	background-color: #A9A9A9;

}

#home-ico {
	
	position: absolute;
	top: 6.8pt;
	left: 4.8pt;

}

#about {

	position: absolute;
	left: 70pt;
	width: 41pt;
	height: 2.2em;
	transition-duration: .5s;
}


#about p {

	font-weight: bold;
	position: absolute;
	color: white;
	left: 3pt;
	top: -5pt;
}


#about:hover {

	background-color: #A9A9A9;

}

#services {

	position: absolute;
	left: 120pt;
	width:55pt;
	height: 2.2em;
	transition-duration: .5s;
}


#services p {

	font-weight: bold;
	position: absolute;
	color: white;
	left: 3pt;
	top: -5pt;
}


#services:hover {

	background-color: #A9A9A9;

}

#careers {

	position: absolute;
	left: 185pt;
	width:52pt;
	height: 2.2em;
	transition-duration: .5s;
}


#careers p {

	font-weight: bold;
	position: absolute;
	color: white;
	left: 3pt;
	top: -5pt;
}


#careers:hover {

	background-color: #A9A9A9;

}

#contact {

	position: absolute;
	left: 248pt;
	width:52pt;
	height: 2.2em;
	transition-duration: .5s;
}


#contact p {

	font-weight: bold;
	position: absolute;
	color: white;
	left: 3pt;
	top: -5pt;
}


#contact:hover {

	background-color: #A9A9A9;

}



