p {

	font-family: "Arial";

}

.header-container {

	height: 2.2em;
	position: relative;
	background-color: #696969;
	
}

#home {

	position: absolute;
	left: 20pt;
	width: 40pt;
	height: 2.2em;
	transition-duration: .5s;
}


.test p {

	font-weight: bold;
	position: absolute;
	color: white;
	left: 3pt;
	top: -5pt;
}


#home:hover {

	background-color: #A9A9A9;

}

#home-ico {
	
	position: absolute;
	top: 6.8pt;
	left: 4.8pt;

}

